samples/
tools/
reference_genome/
star/
functional_annotation/arsef549/
functional_annotation/e6/
functional_annotation/robertsii_arsef23/
orthofinder/proteins/
.Rproj.user
.Rhistory
.RData
.Ruserdata